# roles/alertmanager/templates/alertmanager.yml.j2
---
global:
  resolve_timeout: 5m

route:
  receiver: 'slack-notifications'
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1h

receivers:
  - name: 'slack-notifications'
    slack_configs:
      - send_resolved: true     # 이 옵션은 그냥 둬도 무방 (알림만 안 보냄)
        api_url: '{{ slack_webhook_url }}'
        channel: '{{ slack_channel }}'
{% raw %}
        title: >-
          {{ if eq .Status "firing" }}[{{ .Status | toUpper }}] {{ .GroupLabels.alertname }}{{ end }}

        text: |-
          {{ if eq .Status "firing" }}
          :rotating_light: *ALERT TRIGGERED* :rotating_light:

          {{ range .Alerts -}}
          • *Instance:* {{ .Labels.instance }}
            *Description:* {{ .Annotations.summary }}
            *CPU Usage:* {{ .Annotations.description }}
            *Started At:* {{ .StartsAt.Local | date "2006-01-02 15:04:05 MST" }}
          {{ end }}

          {{ end }}
{% endraw %}

