# roles/alertmanager/templates/alertmanager.yml.j2
---
global:
  resolve_timeout: 5m

route:
  # 인스턴스마다 따로 메시지를 받도록 그룹핑
  group_by: ['alertname','instance']
  receiver: 'slack-notifications'
  group_wait: 5s          # 첫 알림 전 대기 시간
  group_interval: 30s     # 동일 그룹(=동일 인스턴스) 후속 알림 묶음 간격
  repeat_interval: 30m    # 해결 전 반복 전송 주기

receivers:
  - name: 'slack-notifications'
    slack_configs:
      - send_resolved: true
        api_url: '{{ slack_webhook_url }}'
        channel: '{{ slack_channel }}'
{% raw %}
        title: >-
          [{{ .Status | toUpper }}] {{ .GroupLabels.alertname }} on {{ .GroupLabels.instance }}

        text: >-
          {{ if eq .Status "firing" }}
          :rotating_light: *ALERT TRIGGERED* :rotating_light:
          {{ else }}
          :white_check_mark: *ALERT RESOLVED* :white_check_mark:
          {{ end }}

          • *Instance:* {{ .GroupLabels.instance }}
          • *Summary:*  {{ .Annotations.summary }}
          • *CPU Usage:* {{ .Annotations.description }}
          • *Started At:* {{ .StartsAt | date "2006-01-02 15:04:05 MST" }}
          {{ if eq .Status "resolved" }}
          • *Ended At:*   {{ .EndsAt   | date "2006-01-02 15:04:05 MST" }}
          {{ end }}
{% endraw %}

